@import '../assets/css/reset.css';
@import '../assets/css/globales.css';

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}
.footer{
    position: sticky;
    bottom: 0;

    width: 100%;
}

.header{
    background: linear-gradient(to bottom, var(--color-complemento) 0%, var(--color-ppal) 80%);
    height: 220px;
    border-radius: 0 0 16px 16px;

}

.top_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    color: var(--color-light);
    max-width: 600px;
    margin: 0 auto;
}
.nav_user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

}
.nav_user h3{
    font-weight: 400;
}
.nav_user .user{
    color: var(--color-light);
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-ppal);
}
.nav_user > i:hover{
    transform: scale(1.2);
}
.nav_user:hover{
    cursor: pointer;
}

.log i{
    grid-column: 1/1;
    grid-row: 1/1;
}
.log i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.hero{
    padding-top: 30px;
    display: grid;
    place-items: center;
    max-width: 600px;
    margin: 0 auto;
}
.hero h1{
    color: var(--color-light);
    font-size: 52px;
}
.hero p{
    color: var(--color-suplemento);
    font-size: 16px;
}


/* --- SECTION BODY --- */
.body{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;

    overflow: auto;
}

.container{  
    border: 1px solid var(--gris);
    border-radius: 24px;
    background-color: #fff;
    padding: 8px 16px;
    margin: 0 32px;
}
.container i{
    margin-right: 4px;
    cursor: pointer;
}

.container i:hover{
    transform: scale(1.2);
}
.container:hover{
    box-shadow: 0 0 8px silver;
}

.container.headline{
    margin: -36px auto 24px auto;
    width: 100%;
    max-width: 600px;
    height: fit-content;
}

@media (max-width: 768px) {
    .container.headline{
        margin: -36px 16px 24px 16px;
        width: unset;
    }
}
.container.headline .back{
    cursor: pointer;
}
.container.headline .back:hover{
    transform: scale(1.2);
}
.container.ver{
    border: none;
    margin: 0 8px;
}
.container .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 8px 0;
}

.container .head .next h1{
    letter-spacing: 2px;
}
.container .detalle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 4px 0;
    border-top: 1px solid var(--gris);
}

.container .progress{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 4px 0;
}

.progress progress{
    width: 100%;
}

.info_tabla{
    width: 100%;
    border: none;
    border-top: 1px solid var(--gris);
}
.info_tabla thead{
    height: 24px;
    text-transform: uppercase;
}
.info_tabla tbody{
    text-align: center;
}
.info_tabla tfoot{
    border-top: 1px solid var(--gris);
    height: 24px;
    text-transform: uppercase;
}
.container .texto{
    border-top: 1px solid var(--gris);
    padding: 4px 0;
}
.container .texto p{
    font-size: 16px;
}

.container .button{
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

/* pagina registro */
.log_container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    padding: 0 80px;
    width: 100%;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input input{
    padding: 8px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid silver;
    outline: none;
}
.input input:-moz-placeholder{
    font-size: 14px;
    color: silver;
    font-style: italic;
}
.input label{
    text-transform: capitalize;
    color: gray;
    font-size: 14px;
}

.input>div{
    position: relative;
}
.input>div>span{
    color: var(--color-dark);
    position: absolute;
    right: 8px;
    top: 7.5px;
}


.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.botones p{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-complemento);
    text-transform: none;
    text-decoration: underline;
}
.botones p:hover{
    color: var(--color-ppal);
}

/* ---- BOTTOM TAB NAV ---- */
.bottom_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    padding: 8px;
    margin: 16px auto;
    border: 1px solid var(--color-dark);
    border-radius: 36px;
    background-color: var(--color-ppal);
    color: var(--color-light);
    z-index: 10;
}

@media (max-width: 768px) {
    .bottom_nav{
        margin: 16px 24px;
    }
}

.bottom_nav .home, .bottom_nav .settings,
.bottom_nav .send{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 16px;
}
.btn_mas{
    background-color: var(--color-destaque);
    border-radius: 26px;
    color: var(--color-light);
    padding: 16px 8px 16px 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}
.btn_mas p{
    font-size: 16px;
    text-transform: uppercase;
}

.bottom_nav .home i:hover,
.bottom_nav .settings i:hover,
.bottom_nav .send i:hover{
    color: var(--color-destaque);
}
.bottom_nav .btn_mas:hover{
    transform: scale(1.05);
}

.copy{
    width: 100%;
    text-align: center;
    padding: 2px;
    background-color: var(--color-ppal);
    color: var(--color-light);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    padding: 8px;
    margin: 0 auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-ppal);
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}