:root {
  --color-ppal:  #1d3557;
  --color-complemento: #457b9d;
  --color-destaque: #e63946;
  --color-suplemento: #f1faee;
  --color-light: #Fff;
  --color-dark: #070d16;
  --gris: silver;
}
  
  
/* globales */
html {
  font-family: "Lato", sans-serif;
  color: var(--color-dark);
  
}

h1 {
    font-size: 32px;
    text-transform: capitalize;
}
h2 {
  font-size: 24px;
  text-transform: capitalize;
}
h3 {
  font-size: 16px;
  text-transform: uppercase;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
}

a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

p{
  font-size: 14px;
}

img {
  width: 100%;
}

input{
  width: 100%;
}

.hidden{
  display: none;
}

.ocultar{
  visibility: hidden;
}

/* utilitarios */

.btn {
  width: 170px;
  padding: 16px 32px;
  border: 2px solid var(--color-ppal);
  border-radius: 32px;
  background: var(--color-ppal);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover {
	background: #fff;
  color: var(--color-ppal);
  box-shadow: 0 0 8px silver;
}


.alerta { 
  width: calc(100% - 32px);
  margin: 0 auto;
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.ok {
  color: var(--color-light);
  background-color: olivedrab;
}
.error {
  color: var(--color-light);
  background-color: tomato;
}
.msj_error {
  color: tomato;
  font-size: 12px;
  font-style: italic;
}
