:root {
  --color-ppal:  #22223B;
  --color-complemento: #9A8C98;
  --color-destaque: #694957;
  --color-suplemento: #C9ADA7;
  --color-light: #F2E9E4;
  --color-dark: #0b0b13;

  --shadow-light: 1px 1px 5px #C9ADA7;
  --shadow-dark: 1px 1px 5px #9A8C98;
}
  
  
/* globales */
html {
  font-family: "Lato", sans-serif;
  color: var(--color-dark);
  
}

h1 {
    font-size: 32px;
    text-transform: capitalize;
}
h2 {
  font-size: 24px;
  text-transform: capitalize;
}
h3 {
  font-size: 16px;
  text-transform: uppercase;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
}

a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

p{
  font-size: 14px;
}

img {
  width: 100%;
}

input{
  width: 100%;
}

.hidden{
  display: none;
}

.ocultar{
  visibility: hidden;
}

/* utilitarios */
.container {
  width: 30%;
  margin: 0 auto;
}

@media (max-width: 576px) {
    .container{
      width: 100%;
      padding: 0 16px;
    }
}

.btn {
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to bottom, var(--color-destaque) 5%, var(--color-ppal) 100%);
  color: var(--color-light);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover {
	background:var(--color-ppal);
}

.btn:active {
  background:transparent;
	border: 2px solid var(--color-ppal);
  color: var(--color-ppal);
  box-shadow: var(--shadow-dark);
}

.alerta { 
  width: calc(100% - 32px);
  margin: 0 auto;
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.ok {
  color: var(--color-light);
  background-color: olivedrab;
}
.error {
  color: var(--color-light);
  background-color: tomato;
}
